#
#  LWIP MASTER
#

%if %{release} == %{nil}
 %define release 1
%endif

%include %{_configdir}/rtems-bsp.cfg

#
# LWIP Version
#
#%define lwip_version lwip-c2ebf5544b4268eac9b32c7f3a689ff646d96eef

#Will be modified to be pointing to RTEMS repo
#%define rtems_ragu_git https://raw.githubusercontent.com/ragunath3252/lwip-nodrv/master

#
# Patch for RTEMS support.
#
#%patch add lwip %{rtems_ragu_git}/rtems.patch
#%hash  md5 rtems.patch 489c0def3a89e538fb526a5396bf27ca


%define lwip_version lwip-1.4
%hash md5 lwip-1.4 1fbbf0e8371f4fae339b007b086ed1be176e7b83

#%patch add lwip file:///other/rtems/rtems.patch
#%hash  md5 rtems.patch 841adb17430bdb9298dcb6d44ac5dad72e82af80

%patch add lwip %{isaac_patches_git}/%{lwip_version}.diff
%hash  md5 %{lwip_version}.diff  193e7ae88c2931855b067faa02db0b12


#
# LWIP Build configuration
#
%include %{_configdir}/lwip-1.cfg
